.test1-container {
  text-align: center;
  margin: 20px;
}

.word {
  font-size: 24px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2rem;
  border: 0;
  color: white;
}

#ybtn {
  background: #8dcc8d;
  font-size: 2rem;
  padding: 1rem 2rem;
}

#nbtn {
  background: #be5959;
  font-size: 2rem;
  padding: 1rem 2rem;
}
